@{
    ViewBag.Title = "Hakkımızda bilgi edinmek için bu sayfayı okuyun.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Şirketimiz 1997 yılında kurulmuştur.Giyim alanında hizmet vermekteyiz.</p>
