@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    İletişim bilgileri aşağıdadır.<br />
    İstanbul Pendik<br />
    <abbr title="Phone">TEL:</abbr>
    0850 952 95 44
</address>
