@{
    ViewBag.Title = "Kurumsal Websitesi";
}

<div class="jumbotron">
    <h1>Web sitemize hoş geldiniz</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bilgilendirilmek için kaydolun.</h2>
        <p>
            Firmamızla ilgili faydalı bilgilere ulaşabilir ve sağ üst tarafdan sitemize kayıt olarak eşsiz özelliklerden faydalanabilirsiniz.
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>DEV İNDİRİM.</h2>
            <p>
                Kışlık tüm ürünlerde %70 indirim.Bu fırsatı kaçırmayın.
            </p>
        </div>
